* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

.header-div-logo {
    display: flex;
    justify-content: center; 
    background-color: #333333;
    width: 100%;
}

.section-logo {
    width: 100px;
}
.container-header{
    background-color: #E1F4F3;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    list-style: none;
}

.ul-li{
    display: inline-block;
    padding: 5px;
    margin: 5px;    
}

/*main*/
.container-main {
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 150px;
    height: 200px;
}

.c1{
    background-color: #FFFFFF;
}

.c1-div {
    width: 100px;
}

.c2{
    background-color: #E1F4F3;
}

.c3{
    background-color: #FFFFFF;
}

/*side bar*/

footer {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}
